<h1>Knockout.jsをRuby on Railsで動かすサンプル</h1>

<%= text_field_tag :input_text, '', placeholder: '入力された文字が下に表示されます', data: {bind: "value: message,  valueUpdate: 'afterkeydown'"} %>
<%= content_tag(:p, :result, data: {bind: "text: message"}) %>

<%= link_to 'タスク作成機能へ', tasks_path %>

<script>
  $(function(){
      // ViewModelを定義
      function ViewModel(){
          // はじめは空文字列を指定
          this.message = ko.observable('');
      }
      // バインディングスタート
      ko.applyBindings( new ViewModel() );
  });
</script>
